<div id="search-component">
  <h3>Your cash balance: {{this.balance}}</h3>
  <h3>Stock Search</h3>

  <input #searchBox id="search-box" />
  <button (click)="search(searchBox.value)">Search</button>


  <div [hidden]="this.stockPrice == null">
    <h2>The stock price for {{this.stockName}} is {{this.stockPrice}}</h2>
    <h4> How many stocks would you like to buy? </h4>
    <input type="number" [(ngModel)]='this.buyAmount'/>
    <button (click)="buyStocks()">Buy Stock(s)</button>
  </div>
</div>