<div id="search-component">
  <h3>Your cash balance: ${{this.balance}}</h3>
  <h3>Stock Search</h3>

  <input #searchBox id="search-box" />
  <button (click)="search(searchBox.value)">Search</button>


  <div [hidden]="this.stockPrice == null">
    <h2>The share price for {{this.stockName | uppercase}} is ${{this.stockPrice}} USD</h2>
    <h4> How many shares would you like to buy? </h4>
    <input type="number" [(ngModel)]='this.buyAmount'/>
    <button (click)="buyStocks()">Buy Share(s)</button>
  </div>
</div>