nav a {
    padding: 7px 12px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #4283a3;
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }

  h1 {
    font-size: 1.2em;
    color: #888;
    margin-bottom: 0;
    text-align: center;
  }