.list-group li {
    list-style-type: none;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    margin-top: 5px;
    width:350px;
    height: 25px;
    padding: 4px;
    background-color: #c3c7c6;
    cursor: pointer;
    text-align: center;
}

li:hover {
    background-color: #607D8B;
  }
  
li a {
    color: #000000;
    display: block;
    text-decoration: none;
  }

ul {
    float: left;
}

a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }