button {
    font-family: Arial;
    border: none;
    padding: 7px 12px;
    border-radius: 4px;
    margin-left: 5px;
    background-color: #eee;
    cursor: pointer;
}

button:hover {
   background-color: #CFD8DC;
}  

a {
    cursor: pointer;
}

body {
    max-width: 500px;
    margin: auto;
    vertical-align: middle;
}

